src/main/resources/giswsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:GIS" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="GIS" targetNamespace="http://tempuri.org/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
            <element name="getDistanceBetween">
                <complexType>
                    <sequence>
                        <element name="address1" type="xsd:string" />
                        <element name="address2" type="xsd:string" />
                    </sequence>
                </complexType>
            </element>
            <element name="getDistanceBetweenResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:decimal" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="getDistanceBetween">
        <part element="tns:getDistanceBetween" name="parameters" />
    </message>
    <message name="getDistanceBetweenResponse">
        <part element="tns:getDistanceBetweenResponse" name="parameters" />
    </message>
    <portType name="GISPortType">
        <operation name="getDistanceBetween">
            <input message="tns:getDistanceBetween" />
            <output message="tns:getDistanceBetweenResponse" />
        </operation>
    </portType>
    <binding name="GIS" type="tns:GISPortType">
        <SOAP:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="getDistanceBetween">
            <SOAP:operation soapAction="http://gis:8888/GIS/soap/getDistanceBetween" style="document" />
            <input>
                <SOAP:body use="literal" />
            </input>
            <output>
                <SOAP:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="GIS">
        <documentation>Ladon generated service definition</documentation>
        <port binding="tns:GIS" name="GIS">
            <SOAP:address location="http://gis:8888/GIS/soap" />
        </port>
    </service>
</definitions>